@import "flex";
@import "topcoat-mobile-light.css";
 $alto-caja:100px;
 .topcoat-list__item {
    @include flexbox;
    padding: 1rem;
    @include align-items(center);
    * {
        flex-flow: column;
        @include flex-wrap(nowrap);
        max-height: $alto-caja;
        list-style: none;
        justify-content: space-between;
    }
    img.imgIzquierda {
        flex-grow: 0;
        order: 0;
    }
    img.imgDerecha {
        order: 2;
        max-height: 100px;
    }
    h3 {
        order: 1;
        flex: 1 auto;
        max-height: 100px;
    }
}
.topcoat-navigation-bar__item > img {
    float: left;
    /*margin-top: 10px;*/
    display: inline-block;
    max-height: 40px;
}
.topcoat-navigation-bar__item > .topcoat-button {
    margin: 10px;
}
.topcoat-navigation-bar__title > h1 {
    display: inline-block;
    margin: 0px;
}
.topcoat-icon {
    font-size: 1.55rem;
}