
.topcoat-navigation-bar__item > img {
	float:left;
	/*margin-top: 10px;*/

display: inline-block;
	max-height: 40px;
}
.topcoat-navigation-bar__title > h1 {display: inline-block;
	margin:0px;
}
.topcoat-navigation-bar__item > .topcoat-button{
	margin:10px;
}

.topcoat-list__item *{
display: inline-block;
max-height: 100px;
}

.topcoat-icon {
	font-size: 1.55rem;
}
