@import "flex";
@import "responsive";
@import "topcoat-mobile-light.css";
 $alto-caja:6em;
 .topcoat-list__item {
    @include flexbox;
    @include align-items(center);
    padding: 0px 5px 0px 5px;
    max-width: 100%;
    * {
        max-width: 100%;
        max-height: 100%;
        @include flex-wrap(wrap);
        @include justify-content(space-between);
        max-height: $alto-caja;
    }
    img.imgIzquierda {
        order: 0;
    }
    h3 {
        order: 1;
        @include flex(2, auto);
    }
    img.imgDerecha {
        order: 2;
    }
}
.topcoat-navigation-bar__item {
    .titulo > img {
        float: left;
        display: inline-block;
        max-height: 40px;
    }
    > .topcoat-button {
        margin: 10px;
    }
}
.topcoat-tab-bar__button {
    font: 1.25em"Source Sans-Bold", helvetica, arial, sans-serif;
}
.topcoat-icon {
    font-size: 1.55rem;
}
.topcoat-button {
    max-height: 80%;
    &#botonDirectos {
        color: red;
    }
}
#botonFavorito {
    height: 4em;
        width: 4em;
    img{
         max-height: 100%;
        max-width: 100%;
       padding:  1em 1em 1em 1em;
        margin-left: -1em;
    }
}
.titulo {
    h1 {
        margin: 0.45em 0;
    }
}
.reproductor {
    max-width: 100%;
    img {
        max-width: 100%;
        background-image: url("../img/alberto-chicote.jpg");
        background-size: cover;
    }
    .descripcionDirecto {
        word-wrap: break-word;
    }
}
