@import "flex";
@import "topcoat-mobile-light.css";
 $alto-caja:100px;
 .topcoat-list__item {
    @include flexbox;
    padding: 0px 5px 0px 5px;
    @include align-items(center);
    * {
        @include flex-wrap(wrap);
        @include justify-content(space-between);
        max-height: $alto-caja;
    }
    img.imgIzquierda {
        order: 0;
    }
    h3 {
        order: 1;
        flex: 2 auto;
        max-height: $alto-caja;
    }
    img.imgDerecha {
        order: 2;
    }
}
.topcoat-navigation-bar__item {
    img {
        float: left;
        display: inline-block;
        max-height: 40px;
    }
    > .topcoat-button {
        margin: 10px;
    }
}
.topcoat-tab-bar__button {
    font: 18px"Source Sans-Bold", helvetica, arial, sans-serif;
}
.topcoat-icon {
    font-size: 1.55rem;
}
.titulo {
    h1 {
        margin: 0.45em 0;
    }
}