
.topcoat-navigation-bar__title > img {
	position: relative;
	margin-top: 10px;
	max-height: 40px;
}
.topcoat-navigation-bar__title > h1 {
	margin:0px;
}
.topcoat-navigation-bar__item > .topcoat-button{
	margin:10px;
}

.topcoat-list__item *{
max-height: 100px;
}

.topcoat-icon {
	font-size: 1.55rem;
}